@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 35px;
}

.sidebar li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.icon {
    font-size: 20px;
    color: white;
}

.tool {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 14px;
}

.sidebar li:hover .tool {
    visibility: visible;
}