.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #deebee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    transition: width 1s ease-in-out;
}

.sidebar-logo {
    width: 55px;
    height: auto;
    margin-top: 30px;
    border-radius: 50%;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 15px;
}
.sidebar li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-top: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.icon {
    font-size: 22px;
    color: rgb(15, 9, 9);
    transition: color 0.4s ease;
}

.sidebar ul li:hover .icon {
    color: #c5baba;
}

.tool {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    position: fixed;
    left: 78px;
    white-space: nowrap;
    font-size: 15px;
    font-family: var(--font-raleway);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3 ease;
}

.sidebar li:hover .tool {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        transition: width 1s ease-in-out;
    }
}