@media (max-width: 768px) {
    .sidebar {
        width: 50px
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #b6cccf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    transition: width 0.3 ease;
}
.sidebar-logo {
    width: 45px;
    height: auto;
    margin-top: 28px;
    border-radius: 45%;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 10px;
}
.sidebar li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-top: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
.icon {
    font-size: 23px;
    color: rgb(59, 35, 35);
    transition: color 0.4s ease;
}

.sidebar ul li:hover .icon {
    color: #fff;
}

.tool {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    position: fixed;
    left: 78px;
    white-space: nowrap;
    font-size: 15px;
    font-family: var(--font-raleway);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3 ease;
}

.sidebar li:hover .tool {
    visibility: visible;
    opacity: 1;
}