.translation-form {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.translated {
    width: 90%;
    min-height: 200px;
    max-height: 70%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

.translation-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}