.lang-box {
    display: flex;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px
}

.language-select {
    flex: 1;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*appearance: none;*/
    /*max-width: 100%;*/
    /*background: #f9f9f9;
    background-repeat: no-repeat;
    background-position: right 10px center;*/
}

/*the value keyworld has to be in the middle*/