.select-box {
    display: flex;
    width: 100%;
}

.language-select {
    padding: 8px;
    font-size: 1rem;
    /*width: 100%;*/
    appearance: none;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    /*max-width: 100%;*/
    /*background: #f9f9f9;
    background-repeat: no-repeat;
    background-position: right 10px center;*/
}

/*the value keyworld has to be in the middle*/