.app-footer {
    padding: 8px 0;
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--font-lato);
    margin-left: 60px;
    padding-left: 70px;
    border-top: 1px solid #444;
}

.app-footer p {
    margin: 0;
}